body{

    background-color: #ffffff;
}

#temp{

    font-size: 5em;
    margin-left: 20px;
    padding-top: 20px;

}


#left{

    margin-left: 10px;
}

#report-date{

    position: fixed;
    margin-top: 5px;
    padding-left: 160px;
}